<%= form_for(@membership_level) do |f| %>
    <% if @membership_level.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@membership_level.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @membership_level.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="col-md-offset-4">
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :monthly_payment %>
            <%= f.text_field :monthly_payment, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="actions">
            <%= f.submit 'Update', class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
<% end %>