<p id="notice"><%= notice %></p>
<div class="row">
  <div class="box">
    <h1>Membership Levels</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-condensed table-striped" style="width: 100%;">
        <thead>
        <tr>
          <td>Name</td>
          <td>Monthly Payment</td>
          <td class="text-center">Edit</td>
          <td class="text-center">Destroy</td>
        </tr>
        </thead>

        <tbody>
        <% @membership_levels.each do |membership_level| %>
            <tr class="">
              <td><%= link_to membership_level.name, membership_level %></td>
              <td><%= number_to_currency(membership_level.monthly_payment) %></td>
              <td class="text-center"><%= link_to fa_icon('edit'), edit_membership_level_path(membership_level) %></td>
              <td class="text-center">
                <%= link_to fa_icon('trash'), membership_level, method: :delete, data: {confirm: 'Are you sure?'} %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'New Membership Level', new_membership_level_path %>
