<p id="notice"><%= notice %></p>

<h1>Listing Web Hook Stripe Events</h1>

<table>
  <thead>
    <tr>
      <th>Livemode</th>
      <th>Stripe</th>
      <th>Object</th>
      <th>Request</th>
      <th>Api version</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @web_hook_stripe_events.each do |web_hook_stripe_event| %>
      <tr>
        <td><%= web_hook_stripe_event.livemode %></td>
        <td><%= web_hook_stripe_event.stripe_id %></td>
        <td><%= web_hook_stripe_event.object %></td>
        <td><%= web_hook_stripe_event.request %></td>
        <td><%= web_hook_stripe_event.api_version %></td>
        <td><%= web_hook_stripe_event.data %></td>
        <td><%= link_to 'Show', web_hook_stripe_event %></td>
        <td><%= link_to 'Edit', edit_web_hook_stripe_event_path(web_hook_stripe_event) %></td>
        <td><%= link_to 'Destroy', web_hook_stripe_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stripe event', new_web_hook_stripe_event_path %>
